
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'logotype';
@import 'header';
@import 'variables';
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
//@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.setting-description {
	border-left: 3px solid #1890ff;
	padding-left: 1rem;
	font-size: 13px;
}

.cp-nav > .nav-link {
		padding-top: 10px;
		padding-bottom: 10px;
		color: #000;
	}
	.cp-nav > .nav-link:hover {
		color: #1890ff;
	}
	.cp-nav > .active {
		color: #1890ff;
		background-color: #e6f7ff;
		border-right: 3px solid #1890ff;
	}